<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weekday or weekend</title>
</head>
<body>
    <h1>Hey it is a <%=day%>. It's time to <%=whatToDo%>!</h1>
</body>
</html>